.helperDiv {
    position: absolute;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
    border: none;
    box-shadow: 0px 0px 6px 2px rgb(0, 0, 0, 0.6);
    padding: 0;
    margin-left: -0.4rem;
    width: min-content;
    /* min-width: 14rem; */
    min-height: 1.8rem;
    text-align: center;
    background-color: white;
    transition: left 0.15s, width 0.2s;
    -webkit-transition: left 0.15s, width 0.2s;
    z-index: 1000;
    transition: height 0.15s, top 0.15s;
    -webkit-transition: height 0.15s, top 0.15s;
}

.helperDiv-top {
    border-radius: 0.7rem 0.7rem 0.7rem 0;
}

.helperDiv-bottom {
    border-radius: 0 0.7rem 0.7rem 0.7rem;
}

.firstRowWrapper {
    /* flex: 1 0 100%; */
    margin: 0;
    /* width: fit-content; */
    height: fit-content;
    padding: 0;
    border: none;
    display: inline-flex;
    justify-content: space-between;
}

.settingMenuWrapper {
    display: none;
    width: 100%;
    height: auto;
    border-top: 1px solid #ececec;
    padding: 5px;
    transition: width 0.2s;
    -webkit-transition: width 0.2s;
}

.helperContent,
.btnSet,
.pageCtrl {
    height: 2rem;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.tips_windows {
    font-size: 0.6rem;
    margin-right: 4px;
    color: rgb(180, 180, 180);
}

.helperCloseBtn {
    background-color: white;
    border-radius: 0 0.7rem 0.7rem 0;
    padding-top: 3px;
    margin: 0;
    height: 100%;
    color: gray;
    font-size: 0.6rem;
    font-weight: bold;
    border: none;
    width: auto;
    min-width: 1.8rem;
    transition: background-color 0.4s, color 0.4s;
    -webkit-transition: background-color 0.4s, color 0.4s;
}

.moreOption {
    background-color: white;
    border: none;
    width: auto;
    height: 100%;
    padding-top: 3px;
    margin: 0;
    min-width: 1.8rem;
    color: gray;
    font-size: 0.6rem;
    transition: background-color 0.1s, color 0.4s;
    -webkit-transition: background-color 0.1s, color 0.4s;
}

.moreOptionList {
    max-width: 360px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    height: auto;
}

.moreOptionMenuWrapper {
    overflow-y: auto;
    max-height: calc(7.5rem + 10px);
    height: fit-content;
}

.moreOptionMenuWrapper::-webkit-scrollbar {
    width: 0.3rem;
    background-color: transparent;
}

.moreOptionMenuWrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

.moreOptionMenuWrapper::-webkit-scrollbar-track-piece {
    background: transparent;
}

.moreOptionMenuWrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px
}

.moreOptionMenuWrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px
}

.pageCtrl {
    background-color: white;
    border: none;
    width: auto;
    height: 100%;
    min-width: 1.2rem;
    color: gray;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    transition: background-color 0.1s, color 0.4s;
    -webkit-transition: background-color 0.1s, color 0.4s;
}

.helperOptions {
    background-color: white;
    height: inherit;
    padding-top: 3px;
    border: none;
    width: auto;
    min-width: 1.8rem;
    min-height: 2rem;
    transition: background-color 0.15s;
    -webkit-transition: background-color 0.15s;
}

@-moz-document url-prefix() {
    .helperOptions {
        padding: 2px 5px 2px 4px;
    }
    .settingBtn {
        padding-bottom: 3px;
    }
    .helperCloseBtn {
        padding-bottom: 3px;
    }
}

.firstRowWrapper .helperOptions-top:nth-child(1) {
    border-radius: 0.7rem 0 0 0;
}

.firstRowWrapper .helperOptions-bottom:nth-child(1) {
    border-radius: 0 0 0 0.7rem;
}

.helperOptions:hover {
    cursor: pointer;
    background-color: rgb(78, 161, 216) !important;
}

.helperCloseBtn:hover {
    cursor: pointer;
    color: #dc3545;
}

.helperCloseBtn:active {
    cursor: pointer;
    color: #dc3545;
    outline: none;
    background-color: #ececec;
}

.helperCloseBtn:focus {
    outline: none;
}

.settingBtn:hover {
    cursor: pointer;
    color: #343a40;
    background-color: #ececec;
}

.settingBtn:focus {
    cursor: pointer;
    color: #343a40;
    outline: none;
    background-color: #ececec;
}

.pageCtrl:hover {
    cursor: pointer;
    color: #343a40;
    background-color: #ececec;
}

.pageCtrl:focus {
    cursor: pointer;
    color: #343a40;
    outline: none;
    background-color: #ececec;
}


/* Customize the label (the container) */

.check-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.check-container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.check-container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.check-container input:checked~.checkmark:after {
    display: flex;
}


/* Style the checkmark/indicator */

.check-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 40%;
    height: 60%;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.listWrapper {
    position: fixed;
    border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.listWrapper_off {
    display: block;
    visibility: hidden;
}

.listWrapper_on {
    display: flex;
    flex-flow: column;
    background-color: white;
    box-shadow: 0px 0px 6px 2px rgb(0, 0, 0, 0.6);
}

.LanguageSwitchArrow {
    position: absolute;
    left: 93px;
    top: 16px;
}

.LanguageSwitchArrow_off {
    transform: rotate(0deg);
}

.LanguageSwitchArrow_on {
    transform: rotate(180deg);
}

.languageFullName {
    margin-right: 0.5rem;
}

.loadingMark i {
    color: rgb(78, 161, 216);
    animation: spinner 3s linear infinite;
    -moz-animation: spinner 3s linear infinite;
    -webkit-animation: spinner 3s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.flagIcon {
    height: auto;
    margin-right: 3px;
    max-width: 1rem;
}